---
title: Amos Wenger's home
layout: default
---
<div id="posts" class="posts-list white-bg">
  <header class="brag">
    <a href="https://twitter.com/nddrylliog"><img class="mugshot" src="/img/mugshot.png"></a>

    <h1>NevarGames</h1>

    <p>We've been playing games for decades, designing games for years, and implementing them for months.
      This is our way of getting through <a href="http://ludumdare.com/compo">Ludum Dare</a> and <a href="http://onegameamonth.com/">OneGameAMonth</a></p>
  </header>
  <div class="clear"></div>
  <div class="spacer"></div>

  {% for post in paginator.posts %}
    <div id="{{ post.id }}" class="post">
      <h2>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h2>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>
    </div>
  {% endfor %}
</div>
<div class="pagination">
  <span class="previous">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="/" title="Previous Page">&laquo; Previous</a>
        {% else %}
        <a href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
        {% endif %}
      {% endif %}
    </span>
    <span class="next">
      {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
      {% endif %}
    </span>
    <div class="clear"></div>
</div>
