---
title: Words I type
layout: default
---
<div id="posts" class="posts-list white-bg">
  <header class="brag">
    <a href="https://twitter.com/nddrylliog"><img class="mugshot" src="/img/mugshot.jpg"></a>

    <h1>Hey! I'm Amos Wenger.</h1>

    <p>
        I help engineer <a href="http://official.fm">official.fm</a>, 
        a start-up trying to simplify the life of music professionals.
    </p>

    <p>
        I'm always looking for talented people. Ping me if you want to talk! I'm @nddrylliog
        on <a href="https://twitter.com/nddrylliog">Twitter</a> and <a href="https://github.com/nddryliog">GitHub</a>.
    </p>
  </header>
  <div class="clear"></div>

  <h2>Words I write, by date</h2>

  {% for post in paginator.posts %}
    <div id="{{ post.id }}" class="post">
      <h2>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h2>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>
    </div>
  {% endfor %}
</div>
<div class="pagination">
  <span class="previous">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="/" title="Previous Page">&laquo; Previous</a>
        {% else %}
        <a href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
        {% endif %}
      {% endif %}
    </span>
    <span class="next">
      {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
      {% endif %}
    </span>
</div>
