---
title: Amos Wenger's home
layout: default
---
<div id="posts" class="posts-list white-bg">
  <header class="brag">
    <a href="https://twitter.com/nddrylliog"><img class="mugshot" src="/img/mugshot.jpg"></a>

    <h1>Welcome home.</h1>

    <p>&ldquo;Amos is a young French iconoclast. If he'd been born in a different time, I expect he'd be a brick-tossing anarchist.&rdquo;
    &mdash; <a href="https://twitter.com/munificentbob/">Bob Nystrom</a></p>
  </header>
  <div class="clear"></div>
  <div class="spacer"></div>

  {% for post in paginator.posts %}
    <div id="{{ post.id }}" class="post">
      <h2>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h2>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>
    </div>
  {% endfor %}
</div>
<div class="pagination">
  <span class="previous">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="/" title="Previous Page">&laquo; Previous</a>
        {% else %}
        <a href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
        {% endif %}
      {% endif %}
    </span>
    <span class="next">
      {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
      {% endif %}
    </span>
    <div class="clear"></div>
</div>
