
#tags
  list-style none
  height auto
  overflow hidden
  margin-left 0
  padding-left 0
  li
    float left
    margin-right 5px
    margin-bottom 5px
    a
      font-family 'Open Sans Condensed'
      font-size 0.95em
      display inline-block
      padding 5px
      text-shadow none
  li a:hover, li.active a
    color #c56
    background rgba( 255, 255, 255, 0.1 )
    
#tagged-posts
  list-style none
  li
    font 1.2em \/ 2.5 'Open Sans Condensed'
