<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name: "viewport" content="width=device-width, initial-scale=1">
    
    <base href="{{ site.url }}/" />
    
    <title>{{ page.title }} - amos.me</title>
    <meta name="author" content="Amos Wenger <nddrylliog@gmail.com>">
    
    <link rel="stylesheet" href="css/style.css" media="screen, projection">
    {% for stylesheet in page.stylesheets %}
    <link rel="stylesheet" href="{{ stylesheet }}" media="screen, projection" />
    {% endfor %}
    
    <!--[if lte IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js">
      <script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js">
    <![endif]-->
  </head>
  <body>
    <div id="container">
        <header role="banner" id="header">
            <a href="/" rel="home">
                <h1>Words I type</h1>
            </a>
        </header>
        <aside id="sidebar">
            <nav>
                <ul id="menu">
                    <li>
                        <a href="about.html">about</a>
                    </li>
                    <li>
                        <a href="/">blog</a>
                    </li>
                    <li>
                        <a href="https://github.com/nddrylliog">code</a>
                    </li>
                    <li>
                        <a href="http://dev-rage.com">comic</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/ndrylliog">tweets</a>
                    </li>
                    <li>
                        <a href="blog/feed.xml" title="Subscribe to RSS feed">feed</a>
                    </li>
                </ul>
            </nav>
        </aside>
        <div role="main" id="content">
            {{ content }}
        </div>
    </div>
    {% for script in page.scripts %}
    <script src="{{ script }}"></script>
    {% endfor %}
  </body>
</html>