---
layout: default
---
<article id="post" class="post-single white-bg">
  <header>
    <h1>
      <a href="//{{ site.base-url }}{{ page.url }}">{{ page.title }}</a>
    </h1>
    <div class="meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
      &bullet;
      <span class="tags">
        {% for tag in page.tags %}
          <a href="/blog/tags/#{{ tag }}">{{ tag }}</a>
        {% endfor %}
      </span>
    </div>
  </header>
  <div class="content">
    {{ content }}
  </div>
  <footer>
    <a href="https://twitter.com/nddrylliog"><img class="mugshot" src="/img/amos.jpg"></a>

    <p>&ldquo;Amos is a young French iconoclast. If he'd been born in a different time, I expect he'd be a brick-tossing anarchist.&rdquo;
    <br> &mdash; <a href="https://twitter.com/munificentbob/">Bob Nystrom</a></p>
  </footer>
  <div class="shadow"></div>
</article>
