---
layout: default
---
<article id="post" class="post-single white-bg">
  <header>
    <h1>
      <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
    </h1>
    <div class="meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
      <span class="tags">
        {% for tag in page.tags %}
          <a href="/blog/tags/#{{ tag }}">{{ tag }}</a>
        {% endfor %}
      </span>
    </div>
  </header>
  <div class="content">
    {{ content }}
  </div>
  <footer>
    <a href="https://twitter.com/nddrylliog"><img class="mugshot" src="/img/mugshot.png"></a>

    <p>
        Hey! I'm Amos Wenger. I help engineer <a href="http://official.fm">official.fm</a>, 
        a start-up trying to simplify the life of music professionals.
    </p>

    <p>
        I'm always looking for talented people. Ping me if you want to talk! I'm @nddrylliog
        on <a href="https://twitter.com/nddrylliog">Twitter</a> and <a href="https://github.com/nddryliog">GitHub</a>.
    </p>
  </footer>
  <div class="shadow"></div>
</article>
