---
layout: default
---
<article id="post" class="post-single white-bg">
  <header>
    <h1>
      <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
    </h1>
    <div class="meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
      &bullet;
      <span class="tags">
        {% for tag in page.tags %}
          <a href="/blog/tags/#{{ tag }}">{{ tag }}</a>
        {% endfor %}
      </span>
    </div>
  </header>
  <div class="content">
    {{ content }}
  </div>
  <footer>
    <a href="https://twitter.com/nddrylliog"><img class="mugshot" src="/img/mugshot.jpg"></a>

    <p>
    Hey! I'm Amos Wenger. Here, I discuss technology, news, and my perspective on life.</p>

    <p>I'm always interested in your feedback. Ping me if you want to talk! I'm @nddrylliog
    on <a href="https://twitter.com/nddrylliog">Twitter</a> and <a href="https://github.com/nddrylliog">GitHub</a>.</p>
  </footer>
  <div class="shadow"></div>
</article>
