---
layout: default
---
<article id="post" class="post-single white-bg">
  <header>
    <h1>
      <a href="//{{ site.base-url }}{{ page.url }}">{{ page.title }}</a>
    </h1>
    <div class="meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
      &bullet;
      <span class="tags">
        {% for tag in page.tags %}
          <a href="/blog/tags/#{{ tag }}">{{ tag }}</a>
        {% endfor %}
      </span>
    </div>
  </header>
  <div class="content">
    {{ content }}
  </div>
  <footer>
    <a href="https://twitter.com/bigsylvain"><img class="mugshot" src="/img/sylvain.jpg"></a>

    <p>posted by Sylvain Wenger aka <a href="https://twitter.com/bigsylvain/">@bigsylvain</a></p>
  </footer>
  <div class="shadow"></div>
</article>
