---
layout: default
---
<article id="post">
  <header>
    <h2>
      <a href="{{ page.url }}">{{ page.title }}</a>
    </h2>
    <div class="meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
      <span class="tags">{{ page.tags | array_to_sentence_string }}</span>
    </div>
  </header>
  <div class="content">
    {{ content }}
  </div>
  <footer>
    If you found this piece of opinion useful and/or want to share some<br />
    of your own experience, feel free to ping me.<br />
    <br />
    I'm <a href="https://twitter.com/nddrylliog">@nddrylliog</a> on Twitter.
  </footer>
  <div class="shadow"></div>
</article>